div{
    width: 250px;
    height: 150px;
    margin:15px;
    border: 2px solid black;
}


.bg1{

    background-image: url('nature.jpg');
}


.bg2{
    background-image: url('nature.jpg');
    background-repeat: no-repeat;
}

.bg3{
    background-image: url('nature.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


.bg4{
    background-image: url('nature.jpg');
    background-repeat: no-repeat;
    background-position: right bottom;

}

/*for multiple backgrounds*/
.bg5{
   background-image: url('nature.jpg'),url('nature.jpg');
   background-position: left top,right bottom;
   background-repeat: no-repeat,no-repeat;
}